apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: artisantek/kubecoin-backend:1.0
          ports:
            - containerPort: 5000
          # Load all config from ConfigMap and secrets from Secret
          envFrom:
            - configMapRef:
                name: kubecoin-config
            - secretRef:
                name: kubecoin-secrets
